.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --emoji-name-color: #646464;

  --theme: #ff5cef;

  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  padding: 0rem 2rem;

  background: linear-gradient(270deg, #e9e9f2 0%, #ffffff 101.17%), #ffffff;

  &:before {
    content: '';
    width: 100svw;
    height: 400px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-image: url('./../assets/bg.png');
    background-repeat: no-repeat;
    background-size: 80svw auto;
    background-position: left -4rem;
    z-index: 1;
  }
  input[type='file'] {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  canvas {
    zoom: 0.3;
    border-radius: var(--global-border-radius);
    z-index: 2;
  }
}

.header {
  small {
    font-size: 9px;
  }
}


.main {
  background: rgba(246, 247, 249, 0.6);
  border: 3px solid #ffffff;
  box-shadow: 0px 19.3778px 30.52px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.75px);
  border-radius: 25px;
  overflow: hidden;
  padding: 2rem;
  z-index: 999;
}

img.hero {
  filter: drop-shadow(0px 19.3778px 30.52px rgba(0, 0, 0, 0.1));
}

.info {
  cursor: help;
}

.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100svw;
  z-index: 9999;
  backdrop-filter: blur(4px);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.1);

  &__wrapper {
    width: 25svw;
    height: calc(100svh - 1rem);
    overflow-y: auto;
    padding: 0.5rem 1rem;
    background-color: var(--global-background-color);
  }

  &__cover {
    position: fixed;
    left: 25svw;
    top: 0;
    width: 75svw;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.hide {
  border: 4px solid red !important;
  left: -110svw !important;
}

.token {
  figure {
    border: 1px solid var(--global-border-color);
    border-radius: var(--global-border-radius);
    cursor: pointer;
    img {
      border-radius: var(--global-border-radius);
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.card {
  cursor: pointer;
  &__body {
    small {
      font-size: 11px;
    }
  }
}
@media (prefers-color-scheme: dark) {
  // .page {
  //   --gray-rgb: 255, 255, 255;
  //   --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  //   --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  //   --button-primary-hover: #ccc;
  //   --button-secondary-hover: #1a1a1a;
  // }
}

.shimmer {
  background: #efefef;
  width: 68px;
  height: 68px;
  border-radius: var(--global-border-radius);
}

.board {
  border: 2px solid red;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 0;
  z-index: 9999;
  display: none;
}

.reload {
  position: fixed;
  left: 3rem;
  bottom: 0.1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: none;

  &:hover {
    transform: scale(0.9);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.PFP {
  display: block;
  width: 100%;
  height: 100%;
  display: block;
}

.footer {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  padding: 0.5rem 1.5rem;
  row-gap: 0.5rem;
  overflow: hidden;

  button {
    width: 100% !important;
    height: 39px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: var(--global-border-radius);
    transition: all ease-in-out 0.1s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    &:hover {
      transform: scale(0.97);
    }

    img {
      width: 12px;
      height: 12px;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      opacity: 0.2;
    }

    &.share {
      color: #1c1c1c;
      border: 1px solid var(--black);
    }

    &.download {
      background-color: var(--color-primary);
      color: var(--white);
      width: 140px;
    }
  }
}

.freeMint {
  color: var(--dark);
  padding: 0.2rem 0.4rem;
  border-radius: 999px;
  font-size: 12px;
  background-color: rgba(2, 2, 2, 0.2);
  color: var(--white);
  margin-left: 0.3rem;
  pointer-events: none;
  &:after {
    content: ' free mint';
    text-transform: uppercase;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
  .page {
    padding: 0.5rem;
  }

  .main {
    align-items: center;
  }
}

@media (max-height: 400px) {
  .footer {
    display: none;
  }
}
